# Application
PORT=3000

# Base de données
DATABASE_NAME="fastfood_db"
DATABASE_USER="root"
DATABASE_PASSWORD="votre_password"
DATABASE_HOST="localhost"
DATABASE_PORT="3306"
DATABASE_DIALECT="mysql"

# JWT
JWT_SECRET="votre_jwt_secret"

# Mail
MAIL_HOST="sandbox.smtp.mailtrap.io"
MAIL_PORT="2525"
MAIL_USER="votre_user_mailtrap"
MAIL_PASS="votre_pass_mailtrap"